/* ========== Text Style End =========*/

.fw-300 {
    font-weight: 300;
  }
  
  .fw-400 {
    font-weight: 400 !important;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .fw-700 {
    font-weight: 700 !important;
  }
  
  .fs-10 {
    font-size: 10px !important;
  }
  
  .fs-11 {
    font-size: 11px !important;
  }
  
  .fs-12 {
    font-size: 12px !important;
  }
  .fs-14 {
    font-size: 14px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  
  .fs-24 {
    font-size: 24px !important;
  }
  
  .fs-20 {
    font-size: 20px;
  }
  .fs-32 {
    font-size: 32px !important;
  }
  .fs-64 {
    font-size: 64px;
  }



/* Most Common Colour used in website  */

  /* .color-primary {
    color: $primaryFontColor !important;
  }
  
  .color-secondary {
    color: $secondaryFontColor;
  }
  
  .color-tertiary {
    color: $tertiaryFontColor;
  }
  
  .color-primary-blue {
    color: $primaryBlue;
  } */
  